/* CSS Document */

	body {
		font-family: 宋体,Helvetica,Helv,Arial;
		font-size: 12px;
		color: #1E4F75;
	}
	table {
		COLOR: #1E4F75;
		font-size: 12px;
	}
	td {
		COLOR: #1E4F75;
		font-size: 12px;
		word-wrap: break-word;
		word-break: break-all;
	}
	p {
		font-size: 12px;
	}
	ul {
	}
A:link {
	COLOR: #1E4F75;
	TEXT-DECORATION: none;
}
A:visited {
	COLOR: #1E4F75;
	TEXT-DECORATION: none;
}
A:hover {
	COLOR: #43BEE5;
	TEXT-DECORATION: none;
}

/*用于所有页面的大背景*/
#main-body{
 background-image:url(../images/main-images/gypms_main_bg.png); 
 background-repeat:repeat-x;
 background-color:#E3E4E7;
}


#form-list{
border:#A4BEC8 solid 1px;
border-collapse:collapse;
font-weight:bold;
}

#form-list td{
border:#A4BEC8 solid 1px;
height:30px;
font-weight:normal;
padding-left:5px;
}

/*用于弹出页面*/
#alert{
border:solid 1px #a4bec8;
}


#alert-title td{
	font-size:16px;
	font-weight:bold;
	padding-left:5px;
	vertical-align:middle;
}

.but{
	color: #0a3a6c;
	font-size: 12px;
	border: 1px solid #0a3a6c;
	background:#c4ebf7;
	height:16px;
}

.search{
	height:16px;
	left:-2px;
	top:-2px;
	font-size:12px;
	line-height:14px;
}

#main-data{
	background-color:#f8f8f8;
	border:solid 1px #a4bec8;
}
#main-data table td input{
	width:100%
}

#list td{
	line-height:20px;
	padding-left:5px;
	border:solid 1px #a4bec8;
	height:25px;
}

#list_title{
	font-weight:bold;
	text-align:center;
	font-size:14px; !important
	line-height:24px;
	height:30px;
}
#list_title_bg{
	font-weight:bold;
	text-align:center;
	font-size:14px; 
	line-height:24px;
	height:30px;
	background-color:#f8f9fa;
}


/*概预算,费率树部分样式,暂定*/
#tree-table td{
line-height:25px;
}

#tree-title{
font-weight:bold;	
}	
#tree-table input{
border-bottom:solid 1px #1E4F75;
border-left:solid 1px #ffffff;
border-right:solid 1px #ffffff;
border-top:solid 1px #ffffff;
}